<div class="container">
  <div class="row">
    <div class="d-flex aligin-items-center">
      <h1 class="p-3 md-10 bg-default text-dark">フォロワー</h1>
    </div>
  </div>
  <%= render 'follow_list', users: @users %>
</div>