<div class="container">
    <div class="row">
        <div class="aligin-items-center">
            <div class="p-3 md-10">
              <h1 class="p-3 md-10 bg-secondary text-white">
                <%= @post.user.account_name %> さんの投稿
              </h1>
              <article class="blog-post">
                <p class="blog-post-meta"><%= @post.created_at %></p>
              </article>
              
             </div>
        </div>
    </div>
    <div class="row col-sm-8 offset-sm-2">
        <table class="thead-light">
            <tr>
                <th>アカウント名</th>
                <th>カテゴリ名</th>
                <th>学習時間</th>
                <th>振り返り</th>
            </tr>
        </table>
    </div>
</div>
 
 これ以降にコメントといいねを表示する