<div class="container">
    <div class="row">
        <div class="d-flex aligin-items-center">
            <h1 class="p-3 md-10 bg-secondary text-white">カテゴリーを登録しよう！</h1>
        </div>
        <div class="col-md-8 offset-md-1">
            <%= form_with model: @category, url: categories_path, method: :post do |f| %>
            <div class="form-group">
                <label for="category_name">カテゴリー名</label>
                <%= f.text_field :category_name, class: "form-control category_name" %>
            </div>
            <div class="form-group">
                <%= f.submit '登録', class: "btn btn-success" %>
            </div>
            <% end %>
        </div>
        
        <div class="col-md-8 offser-md-1">
            <h2 class="p-3 md-10 bg-secondary text-center text-white">カテゴリー一覧</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th>カテゴリー名</th>
                    <th></th>
                  </tr>
                </thead>
            　　<tbody>
                　<% @categories.each do |category| %>
                　<tr>
                    <td><%= category.category_name %></td>
                    <td></td>
                　　</tr>
                　<% end %>
            　　</tbody>
            </table>
        </div>
    </div>
</div>