<div class="container">
    <div class="row">
        <div class="d-flex aligin-items-center">
            <h1 class="p-3 md-10 bg-secondary text-white">ユーザー検索結果</h1>
        </div>
    </div>
    <div class="row col-sm-8 offset-sm-2">
        <table class="table">
            <thead>
                <tr>
                    <th>アカウント名</th>
                    <th>自己紹介</th>
                </tr>
            </thead>
            <% @users.each do |user| %>
            <tbody>
                <tr>
                    <td>
                        <%= link_to user_path(user.id) do %>
                        <%= user.account_name %>
                        <% end %>
                    </td>
                    <td><%= user.introduction %></td>
                </tr>
            </tbody>
            <% end %>
        </table>
    </div>
</div>